<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wireframe</title>
  <link rel="stylesheet" href="./css/script.css">
</head>

<body>
  <div class="page-wrap">
    <div class="container">
      <a href="#">
        <div class="col-2">
          <img class="logo" src="img/logo.png" alt="Company name logo">
        </div>
        <div class="col-5">
          <h1>Company Name</h1>
        </div>
      </a>
      <div class="col-4">
        <a href="#"><img class="social" src="img/google-plus.png" alt="google"></a>
        <a href="#"><img class="social" src="img/twitter.png" alt="twitter"></a>
        <a href="#"><img class="social" src="img/facebook.png" alt="facebook"></a>
      </div>
    </div>
    <nav>
      <div class="container">
        <ul class="navbar" id="navbar">
          <li><a href="#">Home</a></li>
          <li><a href="#">eBooks</a></li>
          <li><a href="#">Magazines</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="col-9">
        <h2>Lorem Ipsum Dolor Sit</h2>
        <p>posted on 15 May 2015 by <a href="#">Author</a></p>

        <img src="img/main.jpeg" alt="main image">
        <div class="col-5">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam fermentum. Integer fringilla. Integer fringilla. Pellentesque ac turpis. Sed elementum, felis quis porttitor sollicitudin, augue nulla sodales sapien, amet posuere quam purus at
            lacus. Nam id neque. Morbi pulvinar nulla sit amet nisl. Etiam pharetra lacus sed velit imperdiet bibendum. </p>
        </div>

        <div class="col-3">
          <h4>More..</h4>
          <ul>
            <li><a href="#">Link #1</a></li>
            <li><a href="#">Another link</a></li>
            <li><a href="#">Third link</a></li>
          </ul>
        </div>

        <p>Sed quis elit. In hac habitasse platea dictumst. Maecenas justo. Donec interdum vestibulum libero. Nam laoreet dui sed magna. Nam consectetuer mollis dolor. Aenean ligula. Aliquam sed erat. Donec interdum vestibulum libero. Mauris et dolor.</p>

      </div>
      <div class="col-3">
        <a href="#">
          <h3>A guide to snoopsetting</h3>
          <img src="img/snooping.jpeg" alt="side article">
        </a>

        <a href="#">
          <h3>Welcome to the Surveillance State</h3>
          <img src="img/camera.jpg" alt="side article">
        </a>
      </div>
    </div>
  <footer>
    <section id="footer">

    </section>
  </footer>
</div>
</body>

</html>
